@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url("../css/fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.woff")
      format("woff");
  }
  @font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url("../css/fonts/YekanBakh/YekanBakh-Medium/YekanBakh-Medium.woff")
      format("woff");
  }
  @font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url("../css/fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.woff")
      format("woff");
  }
}

@layer base {
  html {
    font-family: YekanBakh;
  }
}

.header-slider .header-pagination {
  @apply inset-0 top-60 absolute mx-auto;
}

.header-slider {
  @apply relative ;
}

.header-slider .swiper-wrapper {
  @apply w-80 mt-10
}

.header-slider .swiper-wrapper section{
  @apply h-36
}

.header-slider .header-pagination span {
  @apply w-4 h-4 bg-orange-600 rounded-none;
}
